.App {
  text-align: center;
}

.Sudoku-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
}

.Sudoku-grid, .Sudoku-3x3-square{
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto;
}

.Sudoku-grid{
  width: fit-content;
  border: 2px solid;
}

.Sudoku-3x3-square{
  border: 1.5px solid;
}

.Sudoku-field{
  position: relative;
  z-index: 1;
  border: 1px solid;
  width: 50px;
  height: 50px;
  font-weight: 500;
  font-size: 33px;
}

.Sudoku-3x3-square:nth-child(odd) .Sudoku-field{
  background-color: lightgray;
}

.Sudoku-3x3-square .Sudoku-field.selected {
  background-color: #FD08;
}
